@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

:root {
    /* color */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* font */
    --fs: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    font-family: "Outfit", sans-serif;
    font-size: var(--fs);
    text-align: center;
}

img {
    width: 280px;
    height: 260px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10%;
}

.card {
    border: 2px solid var(--White);
    width: 300px;
    height: 450px;
    text-align: center;
    margin: 8px auto;
    margin-top: 100px;
    background-color: var(--White);
    border-radius: 20px;
}

.largefont {
    font-weight: bolder;
    position: relative;
    top: 10px;
    color: var(--Dark-blue);
}

.break {
    display: block;
}

.smallfont {
    font-size: 14px;
    position: relative;
    top: 25px;
    color: var(--Grayish-blue);
}

.attribution{
    position: relative;
    top: 50px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--Grayish-blue);
    transition: 2s;
}

@media  screen and (min-width: 576px) {

    .card {
        margin-top: 20px;
    }
    
}

@media  screen and (min-width: 768px) {

    .card {
        margin-top: 60px;
    }
    
}

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
   
    .card {
        width: 200px;
        height: 270px;
        margin-top: 20px;
    }

    img {
        width: 190px;
        height: 140px;
        padding: 10px;
        margin-top: 2px;
        border-radius: 25%px;
    }

    .largefont {
        font-size: 12px;
    }

    .smallfont {
        font-size: 10px;
    }

    .attribution{
       font-size: 14px;
    }

  }

